.searchBtn {
  margin-left: 10px;
}

body {
  background-color: #8393F7;
}

.container {
  background-color: #B8BDFB;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 3vw;
}
.title {
  font-size: 22px;
}

.recent {
  font-size: 18px;
}
p {
  font-size: 14px;
}

.u_info {
  font-size: 22px;
}

.favs {
  padding-top: 1vw;
  padding-bottom: 1.6vw;
  background-color: #B8BDFB;
}

a:link {
  color: black;
  text-decoration: none;
}

.search-link {
  color: blue;
  text-decoration: underline;
  font-size: 18px;
}

.card-text {
  font-size: 18px;
}

.card {
  border-width: 3px;
  border-color: #8393F7;
  padding: none;
  background-color: #D3A9C2;
}

.card-img-top {
  background-color: #ECE7FF;
}

.poke {
  background-color: #ECE7FF;
  width: 20vw;
  height: 20vw;
}

.joke {
  line-height: 20vw;
  height: 20vw;
}

span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

/* for search component */
.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}


/* for pokemon types */

.bug {
  font-size: 20px;
  border-radius: 17px;
  color: white;
  border: 1px solid black;

  background-color: #a8b820;
}

.dark {
  font-size: 20px;
  border-radius: 17px;
  color: white;
  border: 1px solid black;

  background-color: #705848;
}

.dragon {
  font-size: 20px;
  border-radius: 17px;
  color: white;
  border: 1px solid black;

  background-color: #7038f8;
}

.electric {
  font-size: 20px;
  border-radius: 17px;
  color: white;
  border: 1px solid black;

  background-color: #f8d030;
}

.fairy {
  font-size: 20px;
  border-radius: 17px;
  color: white;
  border: 1px solid black;

  background-color: #ee99ac;
}

.fighting {
  font-size: 20px;
  border-radius: 17px;
  color: white;
  border: 1px solid black;

  background-color: #c03028;
}

.fire {
  font-size: 20px;
  border-radius: 17px;
  color: white;
  border: 1px solid black;

  background-color: #f08030;
}

.flying {
  font-size: 20px;
  border-radius: 17px;
  color: white;
  border: 1px solid black;

  background-color: #a890f0;
}

.ghost {
  font-size: 20px;
  border-radius: 17px;
  color: white;
  border: 1px solid black;

  background-color: #705898;
}

.grass {
  font-size: 20px;
  border-radius: 17px;
  color: white;
  border: 1px solid black;

  background-color: #78c850;
}

.ground {
  font-size: 20px;
  border-radius: 17px;
  color: white;
  border: 1px solid black;

  background-color: #e0c068;
}

.ice {
  font-size: 20px;
  border-radius: 17px;
  color: white;
  border: 1px solid black;

  background-color: #98d8d8;
}

.normal {
  font-size: 20px;
  border-radius: 17px;
  color: white;
  border: 1px solid black;

  background-color: #a8a878;
}

.poison {
  font-size: 20px;
  border-radius: 17px;
  color: white;
  border: 1px solid black;

  background-color: #a040a0;
}

.psychic {
  font-size: 20px;
  border-radius: 17px;
  color: white;
  border: 1px solid black;

  background-color: #f85888;
}

.rock {
  font-size: 20px;
  border-radius: 17px;
  color: white;
  border: 1px solid black;

  background-color: #b8a038;
}

.steel {
  font-size: 20px;
  border-radius: 17px;
  color: white;
  border: 1px solid black;

  background-color: #b8b8d0;
}

.water {
  font-size: 20px;
  border-radius: 17px;
  color: white;
  border: 1px solid black;

  background-color: #6890f0;
}
